@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

/*Variables globaux*/
:root{
    --text-color:#C3DBD9;
    --font-family:'Roboto', sans-serif;
}
*,
*::before
*::after{
    box-sizing: border-box;
    height: ;
    width: ;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62,5%;
}
body{
    font-family: var(--font-family);
    scroll-behavior: smooth
}